@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>To get started, visit the <a asp-controller="Media" asp-action="Dashboard">dashboard</a>
        or view <a asp-controller="Media" asp-action="Index">your media</a>.</p>
</div>